*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d3d7d9;
    text-transform:capitalize;
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8rem;

}
span.card{
    height: 3rem;
    width: 3rem;
    position: relative;

}
.card img{
    height: 2.5rem;
    width: 2.5rem;
}
.card::after{
    content:attr(data-descr);
    color: white;
    border-radius: 100px;
    background-color: red;
    position: absolute;
    bottom: 27px;
    left: 28px;
    height: 22px;
    width: 22px;
    text-align: center;
}
.items{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,17rem);
    grid-template-rows: repeat(2,19rem);
    column-gap: 1rem;
    row-gap: 1rem;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    height: 19rem;
    width: 17rem;
    z-index: 2;
    box-shadow: 10px 10px 10px 10px rgba(97 98 98 / 0.6);
    /* background-color: #dce0e2; */
}
.item img{
    width: 9rem;
    height: 9rem;
    border-radius: 10rem;
}
.title{
    font-size: larger;
}
.price{
    font-size: small;
}
 .btn{
    color: white;
    height: 2rem;
    width: 15rem;
    background-color: black;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}